<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper" style="display: flex; align-items: center; text-align: left; width: 100%;">

      <!-- Acknowledgment Section on the Left, occupying 50% of the width -->
      <div class="footer-acknowledgment" style="flex: 1; padding-right: 20px;">
        <h2>Acknowledgment</h2>
        <p>
          <span style="font-size: 0.7em; font-style: italic;">
            This workshop has been organized in the frame of the following European Projects (HORIZON EUROPE):<br>
            <a href="https://www.sec4ai4sec-project.eu/" target="_blank" style="text-decoration: underline; color: blue;">
              Sec4AI4Sec </a>
              (Grant Agreement No 101120393)<br>
              <a href="https://coevolution-project.eu/" target="_blank" style="text-decoration: underline; color: blue;">
                CoEvolution </a>
            (Grant Agreement No 101168560)<br><br>
            The <b>Sec4AI4Sec</b> project aims to create a range of cutting-edge technologies, open-source tools, and new methodologies for designing and certifying secure AI-enhanced systems and AI-enhanced systems for security. <br>
            The <b>CoEvolution</b> project's main objective instead is to focus on establishing a comprehensive security and risk assessment process for AI models throughout their lifecycle, ensuring security-by-design under various paradigms (single, collaborative, or interconnected AI agents).
          </span>
        </p>
      </div>

      <div class="footer-logo" style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10px;">
        <a href="https://www.sec4ai4sec-project.eu/" target="_blank">
          <img src="/images/sec4ai4sec-eu.png" alt="SEC4AI4SEC Logo" style="max-width: 100%; height: auto;">
        </a>
        <a href="https://coevolution-project.eu/" target="_blank">
          <img src="/images/CoEvolution_TAIC.png" alt="CoEvolution Logo" style="max-width: 100%; height: auto;">
        </a>
</div>

    </div>
  </div>
</footer>
